.input-wrapper-local {
    background-color: #32527B;
    width: 100%;
    height: 3rem;

    padding: 0 15px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 8px #222;

    align-items: center;
}

#input-local {
    background-color: transparent;
    color: #FFF;
    border: none;
    height: 100%;

    font-size: 1rem;
    margin: 0;
    margin-left: 10px;
}
#input-local::placeholder {
    color: #FFF;
}

input:focus { outline: none; }

.result-wrapper {
    margin: 10px;
}

#search-icon-local { color: #FFF; }

button {
    padding: 5px;
}